body {
    font-family: 'Georgia', serif;
    background: url('images/dinosaurs.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: darkgreen;
}

.info-bar {
    background-color: rgba(50, 150, 50, 0.8);
    padding: 10px;
    color: white;
}

button {
    background-color: #228B22;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.buttons button {
    background-color: darkgreen;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
    gap: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

input{
    width: 200px;
    height: 40px;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}